/* TOP ALL */

.top {
    background: #000 url('../pic/image.png') no-repeat 50%;
    background-size: cover;
}

/* HEADER */

.header-menu {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
}
    .logo {
        position: absolute;
        float: left;
        width: 40px;
    }
    .menu {
        font-size: 16px;
        font-weight: 700;
        line-height: 34px;
        float: right;
        text-transform: uppercase;
        color: #fff;
    }
    
    .header-menu a{
        position: relative;
        margin: 0 25px;
        cursor: pointer;
        -webkit-transition: text-shadow .1s ease;
           -moz-transition: text-shadow .1s ease;
            -ms-transition: text-shadow .1s ease;
             -o-transition: text-shadow .1s ease;
                transition: text-shadow .1s ease;
        vertical-align: middle;
    }
    
    .header-menu a::after{
        position: absolute;
        top: 50%;
        right: -31px;
        display: inline-block;
        width: 5px;
        height: 5px;
        margin-top: -4px;
        content: '';
        vertical-align: middle;
        pointer-events: none;
        border: 1px solid #f4c60b;
        border-radius: 50%;
    }
    
    .header-menu a:last-child::after{
        content: none;
    }

.menu a:hover{
    text-shadow: 1px 1px 30px rgba(0,0,0,.6);
}

/* CARPATHIAN */

.page-name {
    padding: 260px 0 125px 0;
    text-align: center;
    vertical-align: middle;
}

    .page-name > h1{
        font-size: 72px;
        font-weight: 700;
        display: inline-block;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: #f4c60b;
    }
    
    .page-name > p{
        font-family: 'Crimson Text';
        font-size: 24px;
        font-weight: 400;
        font-style: italic;
        display: inline-block;
        color: #fff;
    }

/* SCROLL DOWN */

.mouse{
    padding-bottom: 45px;
    text-align: center;
    vertical-align: middle;
}

    .mouse > img{
        width: 29px;
        padding-bottom: 25px;
    }
    
    .mouse > p{
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 10px;
        text-transform: uppercase;
        color: #fff;
    }

/* BG IMAGE NAVIGATION */

.dots{
    width: 100%;
    padding-bottom: 35px;
    text-align: center;
}

    .dots > ul{
        display: inline-block;
    }
    
        .dots > ul > li{
            float: left;
            width: 13px;
            height: 13px;
            margin-right: 10px;
            border: 1px solid #f4c60b;
            border-radius: 50%;
        }
        
            .dots > ul > li:last-child{
                margin-right: 0;
            }
        
        .dots > ul > li:hover{
            cursor: pointer;
            background-color: #f4c60b;
        }
