.skills{
	padding-top: 7.49%;
	padding-bottom: 7.613%;
	background: url(../pic/skills-bg.png) no-repeat;
    background-size: 100% 100%;
}

	.skills3col{
		margin: 0 auto;
		padding-top: 15.74%;
		font-size: 0;
		text-align: center;
	}

		.skill-stack{
			width: 12.777%;
			margin-right: 12.076%;
			display: inline-block;
		}

			.skill-stack img{
				text-align: center;
				display: inline-block;
			}
			
			.skill-name{
				padding-top: 31%;
				display: inline-block;
				color: #000;
				font-size: 24px;
				font-weight: 300;
				text-align: center;
			}
